body {
    background-color: #370717;
}

.btn-orange {
    background-color: #faa307;
    border-color: #faa307;
    color: white;  
}

.btn-orange:hover {
    background-color: #d98f06;
    border-color: #d98f06;
    color: white;
}

.btn-orange:active, .btn-orange:focus {
    background-color: #cb8607 !important;
    border-color: #cb8607 !important;
    color: white !important;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.border-orange {
    border-color: #faa307;
}