body::before {
    content: "";
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

    background-image: url('/trinitalk-logo.png');
    background-size: 80px;
    background-repeat: repeat;
    opacity: 0.05;
    z-index: -1;
    transform: rotate(-5deg) scale(1.2);

    animation: move-bg 15s ease-in-out infinite alternate;
}

@keyframes move-bg {
    0%
    {
        background-position: 0 0;
    } 
    100%
    {
        background-position: 100px 0;
    }
}

body {
    background-color: #370717;
}

.btn-orange {
    background-color: #faa307;
    border-color: #faa307;
    color: white;  
}

.btn-orange:hover {
    background-color: #d98f06;
    border-color: #d98f06;
    color: white;
}

.btn-orange:active, .btn-orange:focus {
    background-color: #cb8607 !important;
    border-color: #cb8607 !important;
    color: white !important;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.border-orange {
    border-color: #faa307;
}